* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(#0093E9, #0093E9);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.jokes {
    margin-bottom: 2rem;
    width: 600px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: transparent;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .25s ease;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button:hover {
    background-color: white;
    box-shadow: 0 0 30px 4px #0093E9;
}

